:root{
    --primary-color : #053465;
    --custome-grey : #292E49;
}

*{
    font-family: 'Poppins', sans-serif;
    z-index: 2;
}

/* body{
    background-color: blue;
} */

/* navbar style */
.navbar {
    z-index: 3;
}


/* hero style */
#hero{
    background : linear-gradient(160deg, var(--primary-color), #000);
    height: 100vh;
    width: 100%;
}

.img-hero{
    height: 90%;
}

.hero-tagline h1{
    font-size: 52px;
    line-height: 72px;
}

.hero-tagline p{
    width: 63%;
    font-size: 18px;
}

.btn-produk{
    width: 237px;
    height: 70px;
    color: #333333;
}

/* portofolio style */
#portofolio {
    height: 100vh;
    width: 100%;
}

.card-margin {
    margin-right: 1rem;

}

.portofolio-tagline h1{
    color: var(--custome-grey);
    margin-top: 6rem;
}

/* slider */

.slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
    
  }

  .slide-content{
    margin: 0 40px;
    overflow: hidden;
    padding: 1rem;
  }

  .swiper-navBtn{
    color: #6E93f7;
    transition: color 0.3s ease;
  }

  .swiper-navBtn:hover{
    color: #4070F4;
  }

  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
  }

  .swiper-button-next{
    right: 0;
    color:red;
  }

  .swiper-button-prev{
    left: 0;
  }

  @media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
  }