@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
  --primary-color: #053465;
  --custome-grey: #292E49;
}

* {
  font-family: 'Poppins', sans-serif;
  z-index: 2;
}

/* navbar style */
.navbar {
  z-index: 3;
}


.navbar .container .navbar-color-text {
  color: var(--primary-color);
}

/* HOME PAGE */

/* hero style */
#hero {
  background: linear-gradient(160deg, var(--primary-color), #000);
  height: 100vh;
  width: 100%;
}

.img-hero {
  height: 90%;
}

.hero-tagline h1 {
  font-size: 52px;
  line-height: 72px;
}

.hero-tagline p {
  width: 63%;
  font-size: 18px;
}

.btn-produk {
  width: 237px;
  height: 70px;
  color: #333333;
}

/* portofolio style */
#portofolio {
  height: 740px;
  width: 100%;
}

.portofolio-tagline h1 {
  color: var(--custome-grey);
  margin-top: 16px;
}

.slide-container {
  max-width: 1120px;
  width: 100%;
}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
  padding: 1rem;
}

.swiper-navBtn {
  color: #6E93f7;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: #4070F4;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}

.swiper-button-next {
  right: 0;
  color: red;
}

.swiper-button-prev {
  left: 0;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }

  .swiper-navBtn {
    display: none;
  }
}


/* information style */
#information {
  background: linear-gradient(160deg, var(--primary-color), #000);
  height: 470px;
  width: 100%;
}

.font-information {
  font-size: 20px;
}

.fs-information {
  font-size: 36px;
  width: 347px;
}

.self-end {
  align-self: center;
}

.btn-info {
  width: 280px;
  height: 60px;
  border: 0;
  border-radius: 10px;
}

.text-information {
  color: #333333;
  font-size: 16px;
}

.btn-info:hover {
  background-color: #d6d6d6;
  transition: all ease 0.2s;
}

/* Produk & Jasa style */
#product {
  height: 585px;
  width: 100%;
}

#product::-webkit-scrollbar {
  display: none;
}

.img-product {
  width: 355px;
  height: 195px;
  border-radius: 8px;
}

.underline {
  text-decoration: none;
}

.underline:hover {
  text-decoration: underline;
}

.product-card .overlay {
  background-color: rgba(0, 0, 0, 0);
  opacity: 1;
  transition: all ease-in-out .3s;
  border-radius: 8px;
}

.product-card .overlay:hover {
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  text-decoration: underline;
  border-radius: 8px;
}

/* footer style */

#footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

.font-responsive {
  font-size: 1rem;
  justify-content: end;
}


/* ABOUT PAGE */

/* coorporate style */
#coorporate {
  height: 100vh;
  width: 100%;
}

.btn-survey {
  background-color: var(--primary-color);
  color: #ffff;
  width: 25rem;
  height: 3.75rem;
  border-radius: 16px;
}


/* logo style */
#logo {
  height: 100vh;
  width: 100%;
  margin-top: 50px;
}

/* opportunity style */
#opportunity {
  background: linear-gradient(160deg, var(--primary-color), #000);
  height: 75vh;
  width: 100%;
}

.opportunity-img {
  width: 30rem;
  height: 75vh;
}

/* procedure style */
#procedure {
  height: 100vh;
}

.fs-procedure {
  font-size: 2rem;
}

.fs-text-paragraf {
  font-size: 16px;
  margin-top: 1rem;
}

/* about footer */
#about-footer {
  left: 0;
  bottom: 0;
  width: 100%;
  top: 0;
  right: 0;
}

/* products style */
#products {
  height: 100vh;
}

/* galeri style */
#galeri {
  height: 100vh;
}

.galeri {
  max-width: 100%;
}

.text-galeri-judul {
  font-size: 32px;
}

.text-galeri {
  font-size: 16px;
}

.font-galeri {
  font-size: 16px;
}

/* contact us */
.img-contact {
  width: 37.5rem;
  height: 40rem;
}


/* RESPONSIVE */

@media screen and (max-width: 600px) {
  .img-hero {
    display: none;
  }

  .btn-survey {
    width: 20rem;
    height: 3.75rem;
  }

  .font-responsive {
    font-size: 14px;
    justify-content: center;
  }

  .opportunity-img {
    display: none;
  }

  .fs-procedure {
    font-size: 1rem;
  }

  .fs-information {
    font-size: 24px;
  }

  .font-information {
    font-size: 12px;
  }

  .self-end {
    align-self: flex-end;
  }

  .text-information {
    color: #333333;
    font-size: 12px;
  }

  .btn-info {
    width: 150px;
    height: 60px;
    border: 0;
    border-radius: 10px;
  }

  #procedure {
    height: 50vh;
  }

  .fs-text-paragraf {
    font-size: 10px;
    margin-top: 1rem;
  }

  .text-galeri-judul {
    font-size: 24px;
  }

  .text-galeri {
    font-size: 10px;
  }

  .font-galeri {
    font-size: 12px;
  }

  #galeri {
    height: auto;
  }

  #product {
    height: auto;
  }

  .img-contact {
    display: none;
  }

}